<h1>Add new user (reactive)</h1>
<div class="row">
  <div class="col-md-4">
    <h4 class="text-muted">Preview</h4>
    <app-user-view-simple [user]="userForm.value"></app-user-view-simple>
  </div>
  <div class="col-md-8">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label class="center-block">userName:
          <input class="form-control" formControlName="userName">
          <div *ngIf="userForm.controls.userName.invalid && (userForm.controls.userName.dirty && userForm.controls.userName.touched)" class="alert alert-danger">
            <div *ngIf="userForm.controls.userName.errors && userForm.controls.userName.errors.required">
              username is required
            </div>
            <div *ngIf="userForm.controls.userName.errors.lettersNumbersOnly">
              username can only contain letters and numbers
            </div>
            <div *ngIf="userForm.controls.userName.errors.usernameNotTaken">
              username has been taken
            </div>
            <div *ngIf="userForm.controls.userName.errors.minlength">
              min length is 2
            </div>
            <div *ngIf="userForm.controls.userName.errors.maxlength">
              max length is 24
            </div>
          </div>
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">firstName:
          <input class="form-control" formControlName="firstName">
          <div *ngIf="userForm.controls.firstName.invalid && (userForm.controls.firstName.dirty && userForm.controls.firstName.touched)" class="alert alert-danger">
            <div *ngIf="userForm.controls.firstName.errors && userForm.controls.firstName.errors.required">
              first name is required
            </div>
          </div>
        </label>
      </div>
      <div class="form-group">
        <label class="center-block">lastName:
          <input class="form-control" formControlName="lastName">
          <div *ngIf="userForm.controls.lastName.invalid && (userForm.controls.lastName.dirty && userForm.controls.lastName.touched)" class="alert alert-danger">
            <div *ngIf="userForm.controls.lastName.errors && userForm.controls.lastName.errors.required">
              last name is required
            </div>
          </div>
        </label>
      </div>
      <div formGroupName="address" class="well well-lg">
        <h4>Address</h4>
        <div class="form-group">
          <label class="center-block">Street:
            <input class="form-control" formControlName="street">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">City:
            <input class="form-control" formControlName="city">
          </label>
        </div>
        <div class="form-group">
          <label class="center-block">Zip Code:
            <input class="form-control" formControlName="zipCode">
          </label>
        </div>
      </div>
      <div class="form-group">
          <button type="submit"
            [disabled]="!userForm.valid" class="btn btn-success">Save</button> &nbsp;
      </div>
    </form>
  </div>
</div>


    <div class="well">
      <h1>debug</h1>
      <strong>userForm</strong>
      <br/>userForm.value <i class="text-info">{{userForm.value | json}}</i>
      <br/>dirty <i class="text-info">{{userForm.dirty}}</i>
      <br/>touched <i class="text-info">{{userForm.touched}}</i>
      <br/>valid <i class="text-info">{{userForm.valid}}</i>
      <br/>errors <i class="text-info">{{userForm.errors | json}}</i>
      <br/>
      <strong>userName</strong>
      <br/>control username value <i class="text-info">{{userForm.controls.userName.value}}</i>
      <br/>control username dirty <i class="text-info">{{userForm.controls.userName.dirty}}</i>
      <br/>control username touched <i class="text-info">{{userForm.controls.userName.touched}}</i>
      <br/>control username valid <i class="text-info">{{userForm.controls.userName.valid}}</i>
      <br/>control username errors <i class="text-info">{{userForm.controls.userName.errors | json}}</i>
    </div>
